.input{
  margin:5px;
  height: 5px;
  width: 5px;
  padding: 15px;
}

h3{
  margin-left: 20px;
}

.todo {
  height: fit-content;
  width: fit-content;
  margin-left: 20px;
  margin-right: 4px;
}

.add{
  margin: 5% 40%;
}

.update{
  margin-left: 5px;
}
.edit{
  margin-left: 10px;
}
.logout {
  margin-right: 5px;
}

.addlist{
  margin: 10px;
}

input{
  margin:5px;
}

span{
  margin:5px;
}